* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F6F6;
}

.w {
    width: 1000px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #050505;
}

img {
    vertical-align: middle;
    border: 0;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
}

.body {
    height: 1210px;
    color: #050505;
}

.l5 {
    margin-left: 5px;
}

.l10 {
    margin-left: 10px;
}

.h20 {
    height: 20px;
}



/* 主体 */
.main_part {
    height: 900px;
    margin-top: 10px;
}

/* 左边部分 */
.main_part .left {
    float: left;
    height: 888px;
    width: 138px;
    border: 1px solid #000;
}

.main_part .left ul li {
    height: 40px;
    width: 138px;
    /* padding-left: 10px; */
}

.main_part .left ul li a {
    display: block;
    height: 40px;
    width: 128px;
    padding-left: 10px;
    line-height: 40px;
    font-size: 16px;
}

.main_part .left ul li:hover {
    background-color: #E2E2E2;
}

/* 右边部分 */
.main_part .right {
    float: left;
    height: 888px;
    width: 838px;
    margin-left: 20px;
    border: 1px solid #000;
}

.main_part .right h3 {
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-size: 19px;
}

/* 个人信息 */
.main_part .right .head_portrait {
    height: 76px;
}

.main_part .right .head_portrait .img {
    float: left;
    height: 74px;
    width: 74px;
    border: 1px solid #000;
}

.main_part .right .head_portrait .text {
    float: left;
    height: 12px;
    font-size: 12px;
    margin-top: 52px;
    color: #bfbfbf;
}

/* 用户名 */
.main_part .right span {
    display: block;
    height: 20px;
    margin-top: 10px;
}

.main_part .right span input {
    width: 80px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: #F6F6F6;
}

/* 姓名性别部分 */
.main_part .right .ns {
    height: 30px;
    margin-top: 10px;
}

.main_part .right .ns .name {
    float: left;
}

.main_part .right .ns .sex {
    float: left;
    margin-left: 200px;
}

.main_part .right .check {
    height: 25px;
}

.main_part .right .check input {
    margin-right: 10px;
}

.main_part .right .check .check_name {
    width: 80px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: #f6f6f6;
    margin-right: 180px;
}

/* 兴趣及个人签名 */
.main_part .right .person .interest {
    float: left;
}

.main_part .right .person .personal_signature {
    float: left;
    margin-left: 232px;
}

/* ending */
.ending {
    height: 270px;
    margin-top: 40px;
    background-color: #3F3F3F;
}

.ending .context {
    height: 198px;
}

.ending .context .left {
    float: left;
    height: 168px;
    width: 600px;
    margin-top: 30px;
}

.ending .context .right {
    float: right;
    height: 120px;
    width: 200px;
    margin-top: 65px;
    background-color: skyblue;
    color: #fff;
}

/* 左边部分 */
.ending .context .left ul {
    float: left;
    height: 168px;
    width: 110px;
    margin-right: 20px;
}

.ending .context .left .opinion {
    width: 300px;
    margin-right: 0;
}

.ending .context .left ul li h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.ending .context .left ul li a {
    font-size: 12px;
    line-height: 24px;
    color: #A6A68F;
}

.ending .context .left .opinion li span {
    font-size: 12px;
    line-height: 24px;
    color: #A6A68F;
}

/* 二维码栏目 */
.ending .context .right .img {
    height: 90px;
    width: 200px;
}

.ending .context .right .img div {
    float: left;
    height: 90px;
    width: 90px;
}

.ending .context .right .l {
    margin-right: 20px;
    background-color: red;
}

.ending .context .right .r {
    background-color: green;
}

/* 文本栏目 */
.ending .context .right .text {
    height: 25px;
    width: 200px;
}

.ending .context .right .text span {
    float: left;
    display: block;
    height: 25px;
    width: 90px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

/* 版权部分 */
.ending .copyright {
    height: 30px;
    font-size: 8px;
    margin-top: 36px;
    color: #A6A68F;
}

.ending .copyright span {
    line-height: 15px;
    margin-right: 5px;
}