{% load static %}
<!--<!DOCTYPE html>-->

<html class=" js svg inlinesvg placeholder" lang="zh">

<head>

	<meta charset=UTF-8">

	<title>戴铭-广东海洋大学</title>

<!-- // base css -->
	<link href="{%static '/css/teacher/base.css' %}" rel="stylesheet" type="text/css">
<!--	<link href="{% static 'css/teacher/base.cs
s' %}" rel="stylesheet" type="text/css">-->
	<!--	href="{% static 'css/style.css' %}"-->

<!--	<link href="{% static 'css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">-->
<!--	href="{% static 'css/style.css' %}"-->
		<link href="{%static '/css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">
<!-- // head js -->
<!--	<script src="../../static/css/teacher/modernizr.js.下载"></script>-->
	<style type="text/css">
		a.brand
		{
		position:relative;
		left:-50px;
		top:-25px;
		}
	</style>
</head>
<body id="myzone3" >
	<div id="header" >
		<div class="container" >
			<a id="logo" class="brand" href="#">
				<img src="../../static/images/teacher/school_logo.png">
			</a>
		</div>
		<!--//container:end-->
	</div>
	<!--//header:end-->
	<div id="main-content">
		<div class="container">

			<div class="b-pinfo">
				<div class="bp-title" id=" 794485">
				基本信息</div>
				<img class="bp-photo" src="../../static/images/戴铭老师.jpg" alt="">

				<div class="bp-enty">
					<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p style="margin-left:14px"><span style="font-size:16px"><strong>戴铭&nbsp;&nbsp;男&nbsp;&nbsp;讲师&nbsp; 广东海洋大学数学与计算机学院</strong><br>电子邮件：<br>通信地址：<br>邮政编码：</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>​</p></div>
			</div>

			<div class="m-itme">
						<h3 class="mi-t">
							<span id=" 794486">
							个人简介</span>
						</h3>
						<div class="mi-box">
							<div class="mib-c">
								<p style="text-indent:28px">
									<span style="font-size:16px">讲师，本硕博就读于华南理工大学，信息与通信工程专业博士。近五年在相关研究领域发表SCI检索论文7篇，EI检索论文1篇，参与了多项国家自然基金科研项目。主要研究方向：人工智能、计算机视觉、图像分割等。&nbsp;</span>


								</p></div>

						</div>
</body>

</html>