{% load static %}
<!--<!DOCTYPE html>-->

<html class=" js svg inlinesvg placeholder" lang="zh">

<head>

	<meta charset=UTF-8">

	<title>李升-广东海洋大学</title>

<!-- // base css -->
		<link href="{%static '/css/teacher/base.css' %}" rel="stylesheet" type="text/css">

<!--	<link href="{% static 'css/teacher/base.cs
s' %}" rel="stylesheet" type="text/css">-->
	<!--	href="{% static 'css/style.css' %}"-->

<!--	<link href="{% static 'css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">-->
				<link href="{%static '/css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">

<!-- // head js -->
<!--	<script src="../../static/css/teacher/modernizr.js.下载"></script>-->
	<style type="text/css">
		a.brand
		{
		position:relative;
		left:-50px;
		top:-25px;
		}
	</style>
</head>
<body id="myzone3" >
	<div id="header" >
		<div class="container" >
			<a id="logo" class="brand" href="#">
				<img src="../../static/images/teacher/school_logo.png">
			</a>
		</div>
		<!--//container:end-->
	</div>
	<!--//header:end-->
	<div id="main-content">
		<div class="container">

			<div class="b-pinfo">
				<div class="bp-title" id=" 794485">
				基本信息</div>
				<img class="bp-photo" src="../../static/images/李升老师-介绍.jpg" alt="">

				<div class="bp-enty">
					<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p style="margin-left:14px"><span style="font-size:16px"><strong>李升&nbsp;&nbsp;男&nbsp;&nbsp;硕士生导师&nbsp; 广东海洋大学数学与计算机学院</strong><br>电子邮件：<br>通信地址：<br>邮政编码：</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>​</p></div>
			</div>

			<div class="m-itme">
						<h3 class="mi-t">
							<span id=" 794486">
							个人简介</span>
						</h3>
						<div class="mi-box">
							<div class="mib-c">
								<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p style="text-indent:28px"><span style="font-size:16px">李升，副教授，北京航空航天大学博士，硕士生导师，美国《数学评论》评论员，广东省高等学校优秀青年教师培养对象。主持完成国家自然科学基金项目2项，主持省部级科研教改项目4项。发表教学科研论文30多篇，其中SCI收录24篇，EI收录4篇。出版专著1部，主编教材1部，翻译国外优秀教材1部。获批实用新型专利2项，软件著作权10项。常年指导学生参加科研活动和学科竞赛，获得省级以上奖励30多项。&nbsp;</span></p></div>

						</div>
</body>

</html>