{% load static %}
<!--<!DOCTYPE html>-->

<html class=" js svg inlinesvg placeholder" lang="zh">

<head>

	<meta charset=UTF-8">

	<title>李志-广东海洋大学</title>

<!-- // base css -->
	<link href="{%static '/css/teacher/base.css' %}" rel="stylesheet" type="text/css">
<!--	<link href="{% static 'css/teacher/base.cs
s' %}" rel="stylesheet" type="text/css">-->
	<!--	href="{% static 'css/style.css' %}"-->

<!--	<link href="{% static 'css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">-->
	<link href="{%static '/css/teacher/myzone.css' %}" rel="stylesheet" type="text/css">
<!-- // head js -->
<!--	<script src="../../static/css/teacher/modernizr.js.下载"></script>-->
	<style type="text/css">
		a.brand
		{
		position:relative;
		left:-50px;
		top:-25px;
		}
	</style>
</head>
<body id="myzone3" >
	<div id="header" >
		<div class="container" >
			<a id="logo" class="brand" href="#">
				<img src="../../static/images/teacher/school_logo.png">
			</a>
		</div>
		<!--//container:end-->
	</div>
	<!--//header:end-->
	<div id="main-content">
		<div class="container">

			<div class="b-pinfo">
				<div class="bp-title" id=" 794485">
				基本信息</div>
				<img class="bp-photo" src="../../static/images/李志老师.jpg" alt="">

				<div class="bp-enty">
					<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p style="margin-left:14px"><span style="font-size:16px"><strong>李志&nbsp;&nbsp;男&nbsp;&nbsp;教员&nbsp; 广东海洋大学数学与计算机学院</strong><br>电子邮件：<br>通信地址：<br>邮政编码：</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>​</p></div>
			</div>

			<div class="m-itme">
						<h3 class="mi-t">
							<span id=" 794486">
							个人简介</span>
						</h3>
						<div class="mi-box">
							<div class="mib-c">
								<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p style="text-indent:28px"><span style="font-size:16px">李志，教员，负责课程有Matlab实验与Python程序设计课程,课程内容广泛，但也重视基础教学，深受广大学生好评&nbsp;</span></p></div>

						</div>
</body>

</html>