<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--    <form method="post">-->
    <form enctype="multipart/form-data" action="/des/" method="post">
        {%csrf_token%}
        <input type="text" name="miyao" />请输入8位数秘钥
        <br/>
        <input type="text" name="jiami" />请输入加密文本
        <br/>
        <input type="submit" value="加密" /></br>
    </hr>
    </form>
<a>加密结果:{{result_jiami}}</a>
<br/>
    <form enctype="multipart/form-data" action="/des/" method="post">
        {%csrf_token%}
        <input type="text" name="miyao" />请输入8位数秘钥
        <br/>
        <input type="text" name="jiemi" />请输入解密文本
        <br/>
        <input type="submit" value="解密" /></br>
    </hr>
    </form>
<a>解密结果:{{result_jiemi}}</a>
<br/>

</body>
</html>